// Grid system

.cm-row {
    margin-left: -15px;
    margin-right: -15px;
    @extend %clearfix;

    *[class*='cm-col'] {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    @each $col, $width in $gridColWidths {
        .cm-col-xs-#{$col} {
            @extend %floatLeft;
            width: $width;
        }
    }

    @each $breakpoint in $gridBreakpoints {
        @media (min-width: $breakpoint) {
            @each $col, $width in $gridColWidths {
                .cm-col-xs-#{$col} {
                    width: $width;
                }
            }
        }
    }
}