<!DOCTYPE html>
<html lang="en">

<head>
    <title>The Avengers</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" href="img/favicon.png"/>
    <link rel="stylesheet" href="../../build/css-mint.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>
<body>
    <header class="header">
        <div class="logo">  
            <a href="#"><h1>Logo</h1></a>
        </div>
        <div class="nav-right">
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>

