<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Mint Components</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" href="img/favicon.png" />
    <link rel="stylesheet" href="../../build/css-mint.min.css">
    <style>
    .grid *[class*='col-span'] > div {
        color: #fff;
        background-color: #5C9DED;
        margin: 5px;
        padding: 7px;
        font-weight: 300;
    }
    </style>
</head>

<body style="padding: 30px 30px 50px;">
    <!-- Header -->
    <img src="img/logo.png" style="width: 120px; height: auto; margin-bottom: 50px;"/>
    <hr/>
    <h5>Header</h5>
    <header class="header">
        <div class="logo">
            <a href="#"><h1>Logo</h1></a>
        </div>
        <div class="nav-right">
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <header class="header dark">
        <div class="logo">
            <a href="#"><h1>Logo</h1></a>
        </div>
        <div class="nav-right">
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <header class="header grey">
        <div class="logo">
            <a href="#"><h1>Logo</h1></a>
        </div>
        <div class="nav-right">
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <header class="header light">
        <div class="logo">
            <a href="#"><h1>Logo</h1></a>
        </div>
        <div class="nav-right">
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header -->
    <!-- Panel -->
    <h5 style="margin-top: 50px; float: left;">Panel</h5>
    <div class="panel" style="width: 50%;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <!-- Panel -->
    <!-- The Grid -->
    <h5 style="margin-top: 50px; float: left;">The Grid</h5>
    <div style="width: 80%;" class="grid">
        <div class="gr-row align-center">
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
        </div>
        <div class="gr-row align-center">
            <div class="col-span-2">
                <div>.col-span-2</div>
            </div>
            <div class="col-span-2">
                <div>.col-span-2</div>
            </div>
            <div class="col-span-2">
                <div>.col-span-2</div>
            </div>
        </div>
        <div class="gr-row align-center">
            <div class="col-span-3">
                <div>.col-span-3</div>
            </div>
            <div class="col-span-3">
                <div>.col-span-3</div>
            </div>
        </div>
        <div class="gr-row align-center">
            <div class="col-span-4">
                <div>.col-span-4</div>
            </div>
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
        </div>
        <div class="gr-row align-center">
            <div class="col-span-5">
                <div>.col-span-5</div>
            </div>
            <div class="col-span-1">
                <div>.col-span-1</div>
            </div>
        </div>
        <div class="gr-row align-center">
            <div class="col-span-6">
                <div>.col-span-6</div>
            </div>
        </div>
    </div>
    <!-- The Grid -->
    <!-- Typography -->
    <h5 style="margin-top: 50px; float: left;">Typography</h5>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p style="width: 50%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco xercitation ullamco xercitation ullamco.</p>
    <a href="#">Click</a>
    <blockquote style="width: 50%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</blockquote>
    <div class="font-light">Font light</div>
    <div class="font-normal">Font normal</div>
    <div class="font-bold">Font bold</div>
    <div style="width: 50%;">
        <div class="align-left">Align left</div>
        <div class="align-center">Align center</div>
        <div class="align-right">Align right</div>
    </div>
    <div class="text-small">Text small</div>
    <div class="text-normal">Text normal</div>
    <div class="text-big">Text big</div>
    <span class="highlight">Highlight</span>
    <!-- Typography -->
    <!-- Buttons -->
    <h5 style="margin-top: 50px;">Buttons</h5>
    <button class="btn default">Click</button>
    <button class="btn primary">Click</button>
    <button class="btn success">Click</button>
    <button class="btn info">Click</button>
    <button class="btn warning">Click</button>
    <button class="btn error">Click</button>
    <br/>
    <br/>
    <button class="btn default line">Click</button>
    <button class="btn primary line">Click</button>
    <button class="btn success line">Click</button>
    <button class="btn info line">Click</button>
    <button class="btn warning line">Click</button>
    <button class="btn error line">Click</button>
    <br/>
    <br/>
    <button class="btn default rounded">Click</button>
    <button class="btn primary rounded">Click</button>
    <button class="btn success rounded ">Click</button>
    <button class="btn info rounded">Click</button>
    <button class="btn warning rounded">Click</button>
    <button class="btn error rounded">Click</button>
    <br/>
    <br/>
    <button class="btn default line rounded">Click</button>
    <button class="btn primary line rounded">Click</button>
    <button class="btn success line rounded">Click</button>
    <button class="btn info line rounded">Click</button>
    <button class="btn warning line rounded">Click</button>
    <button class="btn error line rounded">Click</button>
    <br/>
    <br/>
    <button class="btn default small rounded">Click</button>
    <button class="btn primary small rounded">Click</button>
    <button class="btn success small rounded">Click</button>
    <br/>
    <br/>
    <button class="btn info large rounded">Click</button>
    <button class="btn warning large rounded ">Click</button>
    <button class="btn error large rounded">Click</button>
    <!-- Buttons -->
    <!-- Card -->
    <h5 style="margin-top: 50px;">Card</h5>
    <div style="width: 30%;"> 
        <div class="card">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
    <div style="width: 30%;">
        <div class="card info">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
            <div class="align-center">
                <img src="http://designmodo.github.io/Flat-UI/img/icons/svg/map.svg" />
                <button class="ease-in-out">Know More</button>
            </div>
        </div>
    </div>
    <div style="width: 30%;">
        <div class="card pricing">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
            <div class="align-center">
                <button class="ease-in-out">Buy for $499</button>
            </div>
        </div>
    </div>
    <div style="width: 30%;">
        <div class="card photo">
            <img src="http://static1.squarespace.com/static/54e63432e4b02904f4c632e8/t/54ef890ce4b0a7de0912942d/1424984343312/abstract_geometric_low_poly___wallpaper_by_mcfrolic-d7gjq9d.jpg?format=2500w"/>
            <div class="card-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                <div class="align-center">
                    <button class="ease-in-out">Add to list</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Card -->
    <!-- Footer -->
    <h5 style="margin-top: 50px;">Footer</h5>
    <footer class="footer">
        <div class="footer-container">
            Footer &copy;2015
        </div>
    </footer>
    <footer class="footer dark">
        <div class="footer-container">
            Footer &copy;2015
        </div>
    </footer>
    <footer class="footer grey">
        <div class="footer-container">
            Footer &copy;2015
        </div>
    </footer>
    <footer class="footer light">
        <div class="footer-container">
            Footer &copy;2015
        </div>
    </footer>
    <!-- Footer -->
    <!-- Alert -->
    <h5 style="margin-top: 220px;">Alert</h5>
    <div class="alert default">
        Alert
    </div>
    <div class="alert primary">
        Alert
    </div>
    <div class="alert success">
        Alert
    </div>
    <div class="alert info">
        Alert
    </div>
    <div class="alert warning">
        Alert
    </div>
    <div class="alert error">
        Alert
    </div>
    <!-- Alert -->
    <!-- Input -->
    <h5 style="margin-top: 50px;">Input</h5>
    <form>
        <input type="text" placeholder="Enter your name"/>
        <input class="error" type="password" placeholder="Enter your password"/>
        <input type="email" placeholder="Enter your email" disabled/>
        <div class="file-upload">
            <img class="upload-icon" src="http://icons.iconarchive.com/icons/elegantthemes/beautiful-flat/128/upload-icon.png"/>
            <label class="upload-label">Upload file</label>
            <input type="file"/>
        </div>
        <input type="number" placeholder="Enter any number"/>
        <input type="reset"/>
        <input type="submit"/>
        <input type="button" value="Click"/>
        <input type="search" placeholder="Search . . ."/>
        <input type="url" placeholder="Enter your website"/> 
        <select>
           <option>Here is the first option</option>
           <option>The second option</option>
        </select>
    </form>
    <!-- Input -->
    <!-- Tables -->
    <h5 style="margin-top: 50px;">Tables</h5>
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Id</th>
                <th>Dept.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Rachel</td>
                <td>5220</td>
                <td>Operations</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Anders</td>
                <td>1098</td>
                <td>IT</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Steve</td>
                <td>1120</td>
                <td>IT</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Alice</td>
                <td>3420</td>
                <td>Marketing</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Mike</td>
                <td>1276</td>
                <td>Sales</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    <span class="font-normal">All check</span>
                </td>
                <td>
                    <span class="font-normal">All check</span> 
                </td>
            </tr>
        </tfoot>
    </table>
    <table class="info">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Id</th>
                <th>Dept.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1.</td>
                <td>Rachel</td>
                <td>5220</td>
                <td>Operations</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Anders</td>
                <td>1098</td>
                <td>IT</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Steve</td>
                <td>1120</td>
                <td>IT</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Alice</td>
                <td>3420</td>
                <td>Marketing</td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Mike</td>
                <td>1276</td>
                <td>Sales</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    <span class="font-normal">All check</span>
                </td>
                <td>
                    <span class="font-normal">All check</span> 
                </td>
            </tr>
        </tfoot>
    </table>
    <!-- Tables -->
    <!-- Breadcrumb -->
    <h5 style="margin-top: 50px;">Breadcrumbs</h5>
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">One</a></li>
        <li><a href="#">One.one</a></li>
        <li><a href="#">One.two</a></li>
    </ul>
    <!-- Breadcrumb -->
    <!-- Pagination -->
    <h5 style="margin-top: 50px;">Pagination</h5>
    <ul class="pagination">
        <li class="prev">
            <a href="#">Prev</a>
        </li>
        <li class="active">
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">6</a>
        </li>
        <li>
            <a href="#">7</a>
        </li>
        <li>
            <a href="#">8</a>
        </li>
        <li>
            <a href="#">9</a>
        </li>
        <li class="next">
            <a href="#">Next</a>
        </li>
    </ul>
    <!-- Pagination -->
    <!-- Badge -->
    <h5 style="margin-top: 50px;">Badges</h5>
    <span class="badge">21</span>
    <span class="badge rounded">21</span>
    <span class="badge rounded rounded line">21</span>
    <span class="badge notification">21</span>
    <span class="badge notification rounded">21</span>
    <span class="badge notification rounded line">21</span>
    <!-- Badge -->
    <!-- Thumbnail -->
    <h5 style="margin-top: 50px;">Thumbnail</h5>
    <div class="thumbnail" style="width: 40%;">
        <img src="http://static1.squarespace.com/static/54e63432e4b02904f4c632e8/t/54ef890ce4b0a7de0912942d/1424984343312/abstract_geometric_low_poly___wallpaper_by_mcfrolic-d7gjq9d.jpg?format=2500w"/>
        <span class="thumbnail-title">This is a title</span>
    </div>
    <!-- Thumbnail -->
</body>

</html>






















