/****************************************/
/****************************************/
/* Button Classes for CSS Mint */

.btn {
  width: auto;
  padding: 10px 30px;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
  margin: 15px 5px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  border: none;
}

.btn:hover {
  background-color: #444;
}

.btn.big {
  padding: 15px 30px;
  font-size: 1.5em;
}

.btn.small {
  padding: 5px 20px;
  font-size: 1em;
}

.btn.default {
  background-color: #ddd;
  border: 1px solid #ccc;
  color: #555;
}

.btn.default:hover {
  background-color: #bbb;
}

.btn.primary {
  background-color: #1879ff;
  border: 1px solid #1b94ff;
}

.btn.primary:hover {
  background-color: #12aaff;
}

.btn.success {
  background-color: #5cdd42;
  border: 1px solid #2edd55;
}

.btn.success:hover {
  background-color: #24ee45;
}

.btn.warning {
  background-color: #f4e10e;
  border: 1px solid #eeea27;
  color: #fff;
}

.btn.warning:hover {
  background-color: #eeea3d;
}

.btn.error {
  background-color: #e21803;
  border: 1px solid #e63e34;
}

.btn.error:hover {
  background-color: #fb1100;
}