/****************************************/
/****************************************/
/* Card Classes for CSS Mint */

.card-wrapper {
	padding: 10px;
}

.card-wrapper > .card {
	padding: 10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
  	border-top: 1px solid #efefef;
  	background-color: #fcfcfc;
  	position: relative;
}