/****************************************/
/****************************************/
/* Card Classes for CSS Mint */

.card-wrapper > .card {
  	border-top: 1px solid #efefef;
  	background-color: #fcfcfc;
  	position: relative;
  	box-shadow: 1px 2px 2px #eee, -1px 1px 1px #eee;
  	padding: 10px;
    line-height: 25px;
    color: #444;
    font-weight: 300;
}