/****************************************/
/****************************************/
/* Card Classes for CSS Mint */

.card-wrapper > .card {
  	background-color: #fcfcfc;
  	position: relative;
  	box-shadow: 1px 1px 4px #bbb;
  	padding: 10px;
    line-height: 22px;
    color: #444;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 0.95em;
}

.card-wrapper.info > .card {
	background-color: #5C9DED;
	color: #fff;
	box-shadow: 1px 1px 4px #5a5a5a;
}

.card-wrapper.info > .card button {
	border: 1px solid #fff;
    background-color: transparent;
    padding: 5px 30px;
    border-radius: 2px;
    display: block;
    margin: 10px auto;
}

.card-wrapper.info > .card button:hover {
	background-color: #fff;
	color: #5C9DED;
}

.card-wrapper.info > .card img {
	width: 30%;
	height: auto;
	margin: 10px auto;
}