/****************************************/
/****************************************/
/* Footer Classes for CSS Mint */

.footer {
	float: left;
	width: 100%;
  	margin: 0 auto;
  	position: relative;
  	background-color: #f0f0f0;
  	border-top: 1px solid #dadada;
}

footer.footer.default {
  	background-color: #eaeaea;
  	border-top: 1px solid #d3d3d3;
}

footer.footer.light {
  	background-color: #fff;
  	border-top: 1px solid #ccc;
}

footer.footer.dark {
  	background-color: #202020;
  	border-top: 1px solid #000;
  	color: #fff;
}


