/****************************************/
/****************************************/
/* Grid system for CSS Mint */

.gr-row {
	width: 100%;
}

.gr-row:after,
.gr-row:before {
	content: '';
	clear: both;
	display: table;
}

*[class*='col-span'] {
	float: left;
	padding: 10px;
}

.col-span-1 {
	width: 16.66%;
}

.col-span-2 {
	width: 33.33%;
}

.col-span-3 {
	width: 50%;
}

.col-span-4 {
    width: 66.664%;
}

.col-span-5 {
    width: 83.33%;
}

.col-span-6 {
    width: 100%;
}






