/****************************************/
/****************************************/
/* Input Components for CSS Mint */

input[type="text"], input[type="password"], input[type="email"] {
	background-color: #fff;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    width: 280px;
    border-radius: 2px;
    font-weight: 300;
    font-size: 0.88em;
    color: #444;
    display: block;
    -webkit-transition: all 0.20s ease-in;
  	-moz-transition: all 0.20s ease-in;
  	-o-transition: all 0.20s ease-in;
  	-ms-transition: all 0.20s ease-in;
  	transition: all 0.20s ease-in;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
	outline: none;
	border-color: #5C9DED;
	box-shadow: 0px 0px 3px #4B8CDC;
}

input.error, input.error:focus {
	border-color: #ED5564;
	color: #D9434E;
	box-shadow: 0px 0px 3px #D9434E;
}

input:disabled {
	opacity: 0.6;
	background-color: #f7f7f7;
}

input:disabled:hover {
	cursor: not-allowed;
}

input.error::-webkit-input-placeholder {
    color: #D9434E;
}

input.error:-moz-placeholder {
    color: #D9434E;
}

input.error::-moz-placeholder {
    color: #D9434E;
}

input.error:-ms-input-placeholder {
    color: #D9434E;
}



























