/****************************************/
/****************************************/
/* Navbar component for CSS Mint */

/* Navbar */
nav.navbar {
  float: left;
}

nav.navbar > ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.navbar > ul > li {
  margin: 0;
  float: left;
  padding: 10px;
}

nav.navbar > ul > li > a {
  text-decoration: none;
  font-size: 0.9em;
  border-bottom: 2px solid transparent;
  padding: 0;
}