/****************************************/
/****************************************/
/* Thumbnail component for CSS Mint */

.thumbnail {
	display: inline-block;
	position: relative;
}

.thumbnail > img {
	width: 100%;
	height: auto;
}

.thumbnail-title {
	position: absolute;
	background-color: rgba(0,0,0,0.45);
	bottom: 4px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: 300;
	font-size: 0.9em;
	padding: 10px 0;
}