/****************************************/
/****************************************/
/* Typography Classes for CSS Mint */

/* Typography */
html, body {
	font-family: Helvetica, Arial, sans-serif;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

p {
  font-family: Georgia, serif;
  font-size: 0.9em;
}