/****************************************/
/****************************************/
/* Typography Classes for CSS Mint */

html, body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.font-light {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-bold {
	font-weight: 700;
}

.text-small {
	font-size: 0.85em;
}

.text-normal {
	font-size: 1em;
}

.text-big {
	font-size: 2em;
}
