// Shared mixins

@mixin variants {
    &.primary,
    &.success,
    &.warning,
    &.error {
        color: $textLight;
        border: none;
    }
    &.primary {
        background-color: $blueLight;
    }
    &.success {
        background-color: $greenLight;
    }
    &.warning {
        background-color: $yellowLight;
    }
    &.error {
        background-color: $redLight;
    }
}

@mixin setLineVariantStyles($color) {
    color: $color;
	@include border(1px, $color);
}

@mixin lineVariants {
    &.line {
		background-color: transparent;
		&.primary {
			@include setLineVariantStyles($blueLight);
        }
        &.success {
			@include setLineVariantStyles($greenLight);
        }
        &.warning {
			@include setLineVariantStyles($yellowLight);
        }
        &.error {
			@include setLineVariantStyles($redLight);
		}
	}
}

@mixin border($width, $color) {
    border: $width solid $color;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin pointer {
    &:hover {
        cursor: pointer;
    }
}

@mixin noOutline {
    &:active,
	&:focus {
        outline: none;
	}
}